<nav class="nav-bar">
    <div class="site-title">
        <a href="/">
            <h1> Url-Shortener </h1>
        </a>
    </div>
    <ul>
        <li><a href="/"> Home </a></li>
        <li><a href="/about"> About</a></li>
        <li><a href="/contact"> SignUp </a></li>
    </ul>
</nav>