<!DOCTYPE HTML>
<html>
<%- include ('partials/head.ejs') %>

    <body>
        <section>
            <div id="bg-content">
                <form action="/home" method="POST">
                    <input type="text" id="body" placeholder="enter your url" required>
                    <textarea id="body" required></textarea>
                    <button id="btn-sub">shrink</button>
                </form>
        </section>
        </div>
        <div></div>
        <%- include ('partials/footer.ejs') %>

    </body>

</html>